<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Ficha</title>    
    <%- include("./modelsViews/configsCss.ejs") %>
    <link href="/public/css/criarficha.css" rel="stylesheet">
    <link href="/public/css/console.css" rel="stylesheet">
</head>
<body>
    <%- include("./modelsViews/telaPreload.ejs", {infinite: false}) %> 
    <%- include("./modelsViews/popAlert.ejs") %>
    <header>
        <a href="/console"><h1>Seu Console<i class='bx bx-shape-square'></i></h1></a>
        <img src="/public/Assets/Mago_Misterioso_(Idle)-original.gif.opdownload">
    </header>

    <script src="/public/js/FichasModels/modelGonza.js"></script>
    <script src="/public/js/criarFichaFront/api_criarFicha.js"></script>
    <script src="/public/js/criarFichaFront/criarFicha.js"></script>
</body>
</html>