<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Ficha</title>
    <%- include("../modelsViews/configsCss.ejs") %>
    <link href="/public/css/suaFicha.css" rel="stylesheet">
</head>
<body>
    <%- include("../modelsViews/telaPreload.ejs", {infinite: false}) %> 
    <header>
        <a href="/console/console.html"><h1>Seu Console<i class='bx bx-shape-square'></i></h1></a>
        <img src="/public/Assets/Mago_Misterioso_(Idle)-original.gif.opdownload">
    </header>

    <script src="/public/js/suaFichaFront/api_suaFicha.js"></script>
    <script defer src="/public/js/suaFichaFront/suaFicha.js"></script>
</body>
</html>